body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    background: #333;
    padding: 10px;
}

.navbar a {
    color: aliceblue;
    text-decoration: none;
    margin: 0 10px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    letter-spacing: none;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    transition: all 0.3 ease;
}

@media(max-width:768px) {
    nav-links {
        display: none;
        flex-direction: column;
        background: #333;
        position: absolute;
        top: 50px;
        right: 20px;
        padding: 10px;
    }

    .nav-links .show {
        display: flex;
    }
}

.banner {
    height: 100vh;
    background: url(https://images.pexels.com/photos/1668928/pexels-photo-1668928.jpeg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-size:larger; */
    color: aliceblue;
    position: relative;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.banner-contact {
    position: relative;
    z-index: 1;
}

.banner h1 {
    font-size: 3rem;
    margin: bottom 10px;
}

.banner p {
    font-size: 1.2rem;

}

.about {
    padding: 50px 20px;
    background: #f9f9f9;

}

.about-container {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
}

.about-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
}

.about-content {
    max-width: 500px;
}

.about-content h2 {
    font-size: 2rem;
    line-height: 1.6;
    color: #333;
}

.btn {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: rgb(85, 85, 220);
    color: #f9f9f9;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width:768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
}

.services {
    padding: 50px 20px;
    text-align: center;
}

.services h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.card-container {
    gap: 20px;
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #f9f9f9;
    border-radius: 10px;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform0.3s;

}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;

}

.card p {
    text-align: #555;

}

footer {

    text-align: center;
    background: #333;
    color: aliceblue;
    padding: 10px;
}

.contact-section {
    padding: 50px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    max-width: 1200px;
    margin: auto;
}

.contact-section {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.contact-section .box {
    background: #f9f9f9;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px (0, 0, 0, 0.8);
}

.contact-section h2 {
    font-size: 1.5rem;
    color: #0d6efd;
    margin-bottom: 15px;
    border-bottom: 2px solid #e3e9f0;
    padding-bottom: 8px;
}

.contact-section p {
    margin: 8px 0;
    line-height: 1.6;

}

.contact-section details {
    background: #f9f9f9;
    padding: 12px 15px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
}

.contact-section summary {
    font-weight: bold;
    font-size: 0.95rem;
    color: #444;

}

.contact-section details p {
    margin-top: 8px;
    font-size: 0.95rem;
    color: #555;
}

.contact-section iframe {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

@media (max-width:768px) {
    .contact-section.row {
        grid-template-columns: 1 fr;
    }

    .map-video {
        flex-direction: column;
    }
}

form {
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

form input,
form button {
    padding: 10px;
    margin: 5px;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #f9f9f9;
}

.register-box {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}

.register-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.register-box input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.register-box button {
    width: 100%;
    padding: 12px;
    background: #0d6efd;
    color: #f9f9f9;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border: none;

}

.login-lin {
    margin-top: 15px;
    font-size: 14px;
}

.login-lin a {
    color: #0d6efd;
    text-decoration: none;
}


.Login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #f9f9f9;
}

.login-box {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background: #0d6efd;
    color: #f9f9f9;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border: none;

}

.register-lin {
    margin-top: 15px;
    font-size: 14px;
}

.register-lin a {
    color: #0d6efd;
    text-decoration: none;
}

.table-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

table {
    border-collapse: collapse;
    width: 88%;
    background: #e3e9f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

th,
td {
    padding: 12px;
    border: 1px solid #e3e9f0;
}

th {
    background: #333;
    color: #f9f9f9;
}

h2 {
    text-align: center;
    margin-top: 20px;

}

@media(max-width:600px) {

    th,
    td {
        padding: 6px;
        font-size: 14px;
    }
}